{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="row pt-3">

	{% for product in products %}

	<div class="col-2" onclick="window.location = '{% url 'product_detail' product.id %}'" style="cursor:pointer" >
		<img src="{{product.icon.url}}" class="img-fluid">
	</div>

	<div class="col-6" onclick="window.location = '{% url 'product_detail' product.id %}'" style="cursor:pointer" >
		<h3>{{product.title}}</h3>
		<p>{{product.summary}}</p>
	</div>

	<div class="col-4 onclick="window.location = '{% url 'product_detail' product.id %}'" style="cursor:pointer" "  >
		<a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}"> <button class="btn btn-primary btn-lg btn-block"><i class="fas fa-thumbs-up"></i> Upvote {{product.votes_total}} </button> </a>
	</div>

	<form id="upvote{{product.id}}" method="POST" action="{% url 'upvote' product.id %}">
		{% csrf_token %}
		<input type="hidden" name="">
	</form>
	<br>

	{% endfor %}
</div>
<br>
{% endblock content %}