{% extends 'base.html' %}


{% block content %}

<br>
<br>

	{# For Icon/Title #}
	<div class="row">
		<div class="col-2">
			<img src="{{product.icon.url}}" class="img-fluid">
		</div>
		<div class="col-10">
			<a href="{{product.url}}"><h1>{{product.title}}</h1></a>
		</div>
	</div>
	<br>
	<br>

	{# For Image $ Vote #}
	<div class="row">
		<div class="col-8">
			<img src="{{product.image.url}}" class="img-fluid">
		</div>
		<div class="col-4">
			<a href="javascript:{document.getElementById('upvote').submit() }"> <button class="btn btn-primary btn-lg btn-block"><i class="fas fa-thumbs-up"></i> Upvote {{product.votes_total}} </button> </a>
		</div>
	</div>

	<br>

	{# For Author $ PubDate #}

	<div class="row">
		<div class="col-4">
			<h5><i class="fas fa-user"></i> Haunted By  {{product.hunter.username}}</h5>
		</div>
		<div class="col-4 text-right">
			<h5> <i class="fas fa-clock"></i> {{product.beautify_pub_date}}</h5>
		</div>
	</div>

	<br>

	{# For Product Body #}
	<div class="row">
		<div class="col-8">
			<p>{{product.body}}</p>
		</div>
	</div>


	{# Upvote Vote #}
	<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
		{% csrf_token %}
		<input type="hidden" name="">	
	</form>
{% endblock content %}



